* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

@font-face {
    font-family: "Mark Pro";
    src: url('./Fonts/Mark-Pro-Heavy.otf');
    font-weight: 700;
}

@font-face{
    font-family: "Mark Pro Heavy";
    font-style:normal;
    src:local('Mark Pro'),url(https://fonts.cdnfonts.com/s/45235/MARKPROBOLD.woff); 
}

@font-face{
    font-family:"Mark Pro";
    font-style:normal;
    font-weight:900;
    src:local('Mark Pro'),url(https://fonts.cdnfonts.com/s/45235/MARKPROBLACK.woff);
 
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('./Fonts/CircularStd-Book.woff2');
    font-weight: 500;
}


:root {
    --font-primary: #c4c4c4;
    --bg-primary: #051108de;
    /*#10101a,#132418 */
    --bg-secondary: #9fd1d4;
    --grad-1 : #9fd1d4 ;
    --grad-2 : #b19fd4;
}


body {
    background-color: var(--bg-primary);
    min-height: 100%;
}

html {
    min-height: 100%;
    
}

h2 {
    font-size: 3rem;
    font-family: "Mark Pro";
    -webkit-text-stroke: 1px white;
    letter-spacing: 0.3rem;
    font-weight: 900;
    background-image: linear-gradient(90deg,#ffffff00,#ffffff00); /*linear-gradient(90deg,#b0f3f1,#ffcfdf);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@media screen and (max-width:1024px) {
    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:500px) {
    h2 {
        font-size: 1.8rem;
    }
}


p {
    font-family: 'Circular Std Book';
    font-size:1rem;
    color: var(--font-primary);
    line-height: 130%;
}



.screen-container {
    box-sizing: border-box;
    display: block;
    /* pos:fixed is relative to the viewport*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    height: 100%;
    background-color: var(--bg-primary)
}



.screen-width-container {
    max-width: 100vw;
    height:100%;
    box-sizing:border-box;
    justify-content:center;
    align-items:flex-start;
    display:flex;
    
}


/* If wider than a tablet, we'll center the child content-container
and for that  we need to cover the whole viewport */
@media screen and (min-width:1025px) {
    .screen-width-container {
     height:100vh;
     max-height:100vh;
     align-items:center;
     overflow:hidden
    }
}


.outer-content-container {
    width:100vw;
    max-width:1280px; /*1280px*/
    
    box-sizing:border-box;
    margin-top:0;
    margin-bottom:0;
    padding:7.5px;
    display:flex;
    position:relative;
    background-color: var(--bg-primary);
}

@media screen and (min-width:500px) {
 .outer-content-container {
    padding:20px
 }
}


.inner-content-container {
    -webkit-user-select:none;
    user-select:none;
    z-index:2;
    /*background:#1d1d20;*/
    border-radius:5px;
    flex-basis:100%;
    padding:15px;
    overflow:hidden;
    /*background-color: var(--bg-secondary);*/
    border: 3px solid;
    border-color: #b0f3f1;
   }

@media screen and (min-width:500px) {
    .inner-content-container  {
     padding:30px
    }
}


.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.logo-rotate {
    transform: rotate(360deg);
    transition: all 0.2s linear;
}


.navbar-list {
    list-style: none;
    display: flex;
}

.list-item {
    margin: 0 14px;
}

.icon {
    width: 25px;
    height: 25px; 
}


.content {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

@media screen and (min-width:1025px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
    }
}


.overview {
    position: relative;
    flex-basis: 53.4752%;
    /*border: 3px solid;*/
    border-color: #8ee9ac;
    /*aspect-ratio: 16/9;*/
    height: auto;
}




@media screen and (max-width: 1024px) {
    .overview-height {
        min-height: 450px;
    }
    .overview {
        aspect-ratio: 0;
         flex-basis: auto;
    }
}


@media screen and (max-width:500px) {
    .overview-height {
        min-height: 350px;
    }
    .overview {
        aspect-ratio: 0;
        /* flex-basis: 53.4752%;*/
    }
}


/*Will be manipulated for animation purposes*/
.first-message {
    transform-origin: top right;
opacity: 0;
transform: scaleX(0);
transition: all 0.2s linear;
}


.message-title {
    font-size: 7rem;
    -webkit-text-stroke: 1px white;
    font-family: "Mark Pro";
    letter-spacing: 0.3rem;
    font-weight: 900;
    background-image: linear-gradient(90deg,#b0f3f100,#ffcfdf00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    .message-title {
        font-size: 5rem;
        margin-bottom: 1.5rem;
    }
}


@media screen and (max-width:500px) {
    .message-title {
        font-size: 3rem;
    }
}


.color-line {
    margin-left: 30px;
    font-size: .9em;
    font-weight: 100;
    line-height: 1.6;
    display: block;
    position: relative;
}

.color-line:before {
    content:"";
    width:2px;
    background:linear-gradient(180deg,#b0f3f1,#ffcfdf);
    position:absolute;
    top:0;
    bottom:0;
    left:-30px
}

.color-line-two {
    
    font-size: .9em;
    font-weight: 100;
    line-height: 1.6;
    display: block;
    position: relative;
}

.color-line-two:before {
    content:"";
    width:2px;
    background:linear-gradient(180deg,#b0f3f1,#ffcfdf);
    position:absolute;
    top:0;
    bottom:0;
    left: -30px;
}


.footer {
    width: 100%;
    text-align: center;
    padding: 35px 0 0px;

}

@media screen and (min-width:500px) {
    .footer  {
     text-align: right;
    }
}

/* We want this to happen on click, or on hover.
On load seemingly is done with javascript. */
.project {
    transform-origin: 100%;
    opacity: 0;
    width: 100%;
    min-height: 350px;
    transition: all 0.2s linear;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
}

@media screen and (max-width:1024px) {
    .project  {
        min-height: 250px;

    }
}

.project-show {
    opacity: 1;
    transform: scaleX(1);
    
}


.menu {
    flex-basis: 30%;
}

@media screen and (min-width : 1025px) {
    .menu {
        position: relative;
        top: -18px;
    }
    
}

@media screen and (max-width:1024px) {
    .project  {
        min-height: 250px;
    }
    .menu {
        margin-top: 4rem;
        margin-bottom: 12rem;
        display: flex;
        justify-content: center;
    }
    .menu-list {
        position: absolute;
       margin-top: 2rem;
    }
}

@media screen and (max-width:295px) {

    .menu {
        margin-top: 4rem;
        margin-bottom: 11rem;
    }
}

.menu-list {
    position: absolute;
   /* text-align: center; */
}

@media screen and (max-width:500px) {

    .menu-list {
        position: absolute;
       margin-top: 1rem;
    }
}

a {
    text-decoration: none;
    color: var(--font-primary);
}

.links {
    z-index: 1;
    font-family: 'Circular Std Book';
    font-size: 1rem;
    color: var(--font-primary);
    line-height: 130%;
    border-top-left-radius: 7px;
    flex-direction: column;
    margin-left: 0;
    padding: 30px 30px 0;
    display: flex;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .links {
        padding: 30px 0;
    }
    .color-line-two:before {
        left: -15px
    }
}

.link {
   color:#e9e9e9;
   scroll-behavior: smooth;
}


.link-cont {
    padding-bottom: 0.5rem;
    width: max-content;
   
}

@media screen and (max-width: 1024px) {
    .link-cont {
        width: auto;
        text-align: center;
    }

}
.link:hover {
    transition: all linear 0.15s;
    font-size: 1.2rem;
   
}

.current-link {
    transition: all linear 0.15s;
    font-size: 1.2rem;
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-card {

    display: flex;
    flex-direction: column;
    padding: 0 20px 1rem;
    /*background-color: #385042b0;*/
    /*border: 1px solid;*/
    border-color: #c4c4c4;
    border-radius: 0.5rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.menu-title {
    display: block;
    /*text-align: center;*/
}

@media screen and (max-width: 1024px) {
    .menu-title {
        text-align: center;
    }
    
}

.project-description {
max-height: 100%;
margin: 0.5rem 0;
border-bottom: 1px solid;
border-color: #c4c4c4;
display: flex;
}



/* How do i get the images to respect the ratio of the div?*/
.project-image {
    width: 100%;

    border-radius: 0.5rem;
    border: 1px solid;
    border-color: #c4c4c4;   
}

@media  screen and (max-width: 400px) {
    .project-image {
        max-width: 300px;  
    }
}

.github-icon {
    color: white;
}


@media screen and (max-width: 375px) {
    .project-title {
        font-size: 1.5rem;
    }    
}

.row {
   justify-content: center;
    display: flex; 
}

.skill {
    height: 100%; 
}

.skill-icon {
    height: 34px;
    margin: 1rem 0.8rem 1rem 0;
}

.skill-icon:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
}

.tooltip-text {
    display: none;
    font-family: 'Circular Std Book';
    color: white;

    margin-top: -0.15rem;
}

.skill-div {
    position: relative;
    display: inline;
    margin-bottom: 0.2rem;
}

.skill-icon:hover + .tooltip-text {
    display: block;
    width: auto;
    color: var(--font-primary);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 90%;
    left: 38%;
    transform: translate(-50%, -50%);
}

#email {
    cursor: pointer;
}

.email-address {
    font-size: 0.9rem;
    position: absolute;
    bottom: 30px;
    right: 52px;
    width: 90%;
    transition: all 0s linear;
}

@media screen and (max-width: 1024px) {
    .email-address {
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        transition: all 0s linear;
        
    }
}

@media screen and (max-width: 500px) {
    .email-address {
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        transition: all 0s linear;
  
    }
}




.email {
    transition: all 0s linear;
    font-size: 1.4rem;
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px) {
    .email {
        font-size: 1.1rem;
  
    }
}


.email-reverse {
    transition: all 0s linear ;
    font-size: 0.9rem;
    /*background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}


.wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    display: none;
}

.card-item {
   position: relative;
   width: 400px;
   height: 550px;
}

.picture {
    position: relative;
}

.picture:hover  .project-overlay {
    opacity: 1;
    transition: all 0.3s linear;
}

.project-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,#000000e8,#000000ec);
    border-radius: 0.5rem;
   
}

.overlay-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    font-size: 1.4rem;
    color: white; /*var(--bg-primary);*/
    width : 85%;
    text-align: center;
}

@media screen and (max-width : 600px) {
    .overlay-text {
    font-size: 1rem;
    }
}

@media screen and (min-width : 1025px) {
    .overlay-text {
        top: 20%;
        left: 50%;
        transform: translate(-50%,-20%);
        }
}

.overlay-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay-link {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
   z-index: 3;
   font-size: 1.5rem;
   font-family: 'Circular Std Book';
   color: white;
   text-align: center;
}

.overlay-link:hover {
    transition: all 0.05s linear;
    font-size: 1.8rem;
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.overlay-github {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-75%);
    margin-top: 0.5rem;
}

@media screen and (min-width : 400px) {
    .overlay-link {
        top: 60%;
        left: 50%;
        transform: translate(-50%,-60%);
    }
    .overlay-github {
        
        top: 75%;
        left: 50%;
        transform: translate(-50%,-75%);
    }
  
}

@media screen and (max-width: 460px) {
    .overlay-link {
        font-size: 1.2rem !important;
    }
    
}

.copyright {
    text-align: center;
    margin-bottom: 18px;
    font-size: 0.9rem;
}

@media screen and (min-width: 1025px) {
    .copyright {
        text-align: right;
        margin-bottom: 0;
    }    
    .overlay-link {
        top: 65%;
        left: 50%;
        transform: translate(-50%,-65%);
    }
    .overlay-github {
        
        top: 80%;
        left: 50%;
        transform: translate(-50%,-80%);
    }
}

@media screen and (max-width: 310px) {
    .overlay-link {
        top: 70%;
        left: 50%;
        transform: translate(-50%,-70%);
    }
    .overlay-github {
        
        top: 85%;
        left: 50%;
        transform: translate(-50%,-85%);
    }
}

.name-container {
    display: flex;
    height: 10%;
    margin: 1rem;
}

.col-lg-6 {
    width: 50%;
    flex: 0 0 auto;
    justify-content: center;
    display: flex;

}

.first-name {
    padding-right: 10px;
    min-height: 100%;
}

.last-name {
    padding-left: 10px;
    height: 100%;
}

#firstinput {
    max-width: 100%;
    width: 100%;
    padding-left: 3px;
    min-height: 100%;
}

#secondinput {
    max-width: 100%;
    width: 100%;
    padding-left: 3px;
    min-height: 100%;
}



.email-input {
    min-height: 10%;
}

.your-message{
    min-height: 40%;
    
}

.your-message::placeholder {
    position: absolute;
    top: 2%;
    left: 2px;
    
}

.submit-cont {
    text-align: center;
   min-height: 10%;
   margin-bottom: 1rem;
}


.submit-button {
    width: 150px;
    height: 100%;
    background-color: #e9e9e900;
    color: white;
    font-family: 'Circular Std Book';
    border: 1px solid white;
    font-size: 17px;
}

.submit-button:hover {
    background-color: #74c485bb;
    transition: all 1.5s linear;
}

.input-margin {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.form-padding {
    padding-left: 3px;
}

.contact-form {
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.contact-form-container {
   
   
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid white;
}

label {
    font-family: 'Circular Std Book';
    font-size:1rem;
    color: var(--font-primary);
    line-height: 130%;
}

.noscript {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--bg-primary);
   
    /*background-image: linear-gradient(180deg,#030f07,#461a0657);*/
}


.noscript-msg {
    text-align: center;
    width: 80%;
    opacity: 0;
    font-size: 3rem;
    background-image: none;
    color: white;
    -webkit-text-fill-color: white;
    margin-top: 1.5rem;
    animation-name: opacityOn;
    animation-duration: 3000ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.error-img {
    width: 15%;
    opacity: 0;
    animation-name: opacityOn;
    animation-duration: 3000ms;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width : 1024px) {
    .noscript {
        justify-content: flex-start;
        position: relative;
        height: 100vh;
        
    }
    .noscript-msg {
        font-size: 6vw;
        
    }
    .error-img {
        width: 40%;
        margin-top: 20%;
    }
}


.back-menu {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    background-color: #ccf0ef1c;
    height: 75px;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.thank-you {
    font-size: 1.5em;
    margin: 1rem 3rem 2rem;
}

@media screen and (max-width : 525px) {
    .thank-you {
        font-size: 1.2rem;
        margin: 1rem 1rem 2rem;
    }
}